asyncpg==0.31.0
bcrypt==5.0.0
beautifulsoup4
fastapi==0.135.1
pgvector
httpx
langchain
langchain-anthropic
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
openai
PyPDF2
pydantic==2.12.5
pydantic-settings==2.13.1
python-multipart
python-dotenv
python-jose[cryptography]==3.5.0
redis
requests
sqlalchemy[asyncio]==2.0.48
uvicorn[standard]==0.41.0
websockets>=11.0.3
